[tool.black]
line-length = 88
target-version = ['py311']

[tool.isort]
profile = "black"

[tool.ruff]
line-length = 88
target-version = "py311"
select = ["E", "F", "I"]
# E = pycodestyle errors, F = pyflakes, I = isort (ruff can handle imports too!)
